<form method="post" action="{{ path('app_vehicule_delete', {'id': vehicule.id}) }}" onsubmit="return confirm('êtes vous sûr(e) de vouloire suuprimer cet véhicule?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash" ></i></button>
</form>
