<div class="row align-items-start">
    <div class="col-12">
        <!-- Form Element sizes -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title"></h3>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button class="btn btn-success" type="submit" style="margin-right: 10px;">{{ button_label|default('Enregistrer') }}</button>
                {{ form_end(form) }}
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<script>
    // Fonction pour récupérer les coordonnées géographiques
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(updateCoordinates);
        } else {
            console.log("La géolocalisation n'est pas prise en charge par ce navigateur.");
        }
    }

    // Fonction pour mettre à jour les champs cachés avec les coordonnées géographiques
    function updateCoordinates(position) {
        const latitudeField = document.getElementById('carburant_latitude');
        const longitudeField = document.getElementById('carburant_longitude');

        if (latitudeField && longitudeField) {
            latitudeField.value = position.coords.latitude;
            longitudeField.value = position.coords.longitude;
        }
    }

    // Appeler la fonction pour récupérer les coordonnées lors du chargement de la page
    getLocation();
</script>
