{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
 <div class="row align-items-start">
       <div class="col-12">
            <!-- Form Element sizes -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Utilisateur</h3>
              </div>
              <div class="card-body">
                {{ include('user/_form.html.twig') }}
              </div>
              <!-- /.card-body -->
         </div>
    </div>

    

{% endblock %}
