{% extends 'base.html.twig' %}



{% block body %}



<div class="row align-items-start">
       <div class="col">
            <!-- Form Element sizes -->
            <div class="card card-success">
              <div class="card-header">
                 <h3 class="card-title">Calendrier d'evenement</h3> <a href="{{ path('app_evenement_index') }}" style="float: right;" class="btn btn-primary"><i class="fa-solid fa-calendar-days"></i></a>
              </div>
              <div class="card-body">
                <div id='calendrier' >
                </div>
              </div>
              <!-- /.card-body -->
         </div>
    </div>
    
    <div style="background:e3eded ; font-size: 18px;">
    
    </div>
 <!-- fullcalandra -->
           
   <script src="{{asset('assets/fullcalendar-6.1.6/dist/index.global.min.js')}}"></script>

        
            
     <script>

     


        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'multiMonthYear',
                locale : 'fr',
                TimeZone :  'Europe/Paris',
                views: {
                    multiMonthFourMonth: {
                    type: 'multiMonth',
                    duration: { months: 4 }
                    }
                },
                
                    events: {{ data|raw }},
                    editable: true,
                    eventResizableFromStart: true,

                    headerToolbar: {
                      start: 'prev,next today',
                      center: 'title',
                      end: ''
                    },

               

                   eventClick: function(info) {
                  // Récupérer les informations de l'événement
                  let eventTitle = info.event.title;
                  let eventStart = info.event.start;
                  let Activite = info.event.Activite;
                  let eventEnd = info.event.end;         
                  
                  // Afficher les informations dans une boîte de dialogue
                  alert("Titre de l'événement : " + eventTitle + "\n" +
                        "Début : " + eventStart + "\n" +
                        "Activite : " + Activite + "\n" +
                        "Fin : " + eventEnd);
                }
            });

            

            calendar.render()
        }
      </script>
    

{% endblock %}


